* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: rgb(195, 231, 78);
  width: 85vw;
  margin: 0 auto;
  padding: 25px;
}

#header {
  background-color: rgb(65, 206, 152);
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 10px;
}

#add-icon {
  font-size: 3em;
  padding: 6px;
  float: right;
  color: white;
  cursor: pointer;
}

h1 {
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 45px;
  padding: 0;
}

h2 {
  color: rgb(195, 231, 78);
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  padding-bottom: 16px;
}

.pledge-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  color: rgb(65, 206, 152);
  padding: 8px 0;
}

.pledge-details {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  color: rgb(105, 105, 105);
  padding: 8px 0;
}

p {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

#pledge-container {
  display: flex;
  flex-wrap: wrap;
}

#pledge {
  background-color: rgb(255, 255, 255);
  width: 45%;
  border-radius: 12px;
  padding: 25px;
  margin: 10px;
}

#footer {
  text-align: right;
  margin: 0 auto;
  color: white;
  background-color: rgb(65, 206, 152);
  padding: 25px; 
  margin-top: 60px;
}

#delete {
  font-size: 2.5em;
  padding: 6px;
  color: black;
  cursor: pointer;
}
/* 
table {
  
} */

td {
  font-family: monospace;
  font-size: 0.9em;
  width: 30px;
  /* border: solid 1px red; */
}

.pledgeInactive{
  min-width: 20px;
  display: inline-block;
  min-height: 20px;
  border-radius: 10px;
  background-color: red;
}

.pledgeActive{
  min-width: 20px;
  display: inline-block;
  min-height: 20px;
  border-radius: 10px;
  background-color: rgb(65, 206, 152);
}

/* style for AddPledge */
#add-header {
  color: rgb(0, 0, 0);
  font-family: 'Varela Round', sans-serif;
  font-size: 27px;
  padding: 0;
  margin-bottom: 12px;
}

.addPledge-text {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
}

#addPledge-button {
  float: right;
  font-size: 1em;
  padding: 8px;
  background-color: rgb(65, 206, 152);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  margin: 19px 0;
}

input, select {
  width: 300px;
  font-size: 18px;
  margin-bottom: 14px;
}